nav{
    background: rgb(70, 152, 182);
    padding: 0.5%;
}
.titulo{
    font-size: 55px;
    margin-top: -75px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo{
    margin-top: -5px;
}
.btn{
    float: right;
    margin-top: -60px;
    background: #1f53c5;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.container{
    justify-content: center;
}
.container .card{
    border-radius: 8px;
    text-align: center;
    transition: all 0.25s;
    margin: 25px;
}

.container .card:hover{
    transform: translateY(-15px);
}